@model IEnumerable<SearchListingsServiceModel>

@{
    ViewBag.Title = "My Watchlist";
}

<div class="text-center mt-4">
    <h1 class="display-4 font-weight-bold">My Watchlist</h1>
    <h1 class="display-6">All favorites are shown here.</h1>
    <hr class="w-50 offset-3" />
</div>

@if (!Model.Any())
{
    <h1 class="display-6 text-danger text-center">You currently have no items in your watchlist.</h1>
}
else
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 align-items-stretch g-4 py-5">
        @foreach (var listing in Model)
        {
            <div class="col-sm-4 @(Model.Count() < 3 ? "col-centered" : string.Empty)">
                <div class="card h-100 border-secondary shadow rounded">
                    <img src="@listing.ImageUrl" style="height: 100%!important;" />
                    <div class="card-body">
                        <h4 class="card-title text-center">@listing.Make</h4>
                        <hr class="w-50 col-centered" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h6 class="d-inline">Model:</h6> @listing.Model</li>
                            <li class="list-group-item"><h6 class="d-inline">Condition:</h6> @listing.Condition</li>
                            <li class="list-group-item"><h6 class="d-inline">Year:</h6> @listing.Year</li>
                        </ul>
                        <div class="d-flex justify-content-between mt-2">
                            <div class="btn-group">
                                <a type="button" class="btn btn-outline-primary" asp-controller="Listings"
                           asp-action="Details"
                           asp-route-listingId="@listing.Id"
                           asp-route-auctionId="@listing.AuctionId">
                                    Details
                                </a>
                                <a type="button" class="btn btn-outline-primary" asp-controller="Listings"
                           asp-action="All"
                           asp-route-Id="@listing.AuctionId">
                                    Auction
                                </a>
                            </div>
                            <a type="button" class="btn btn-outline-danger" asp-controller="Watchlists"
                            asp-action="Delete"
                            asp-route-Id="@listing.Id">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
