@model ICollection<AuctionServiceModel>

@{
    ViewBag.Title = "All Auctions";
}

<div class="text-center">
    <h1 class="display-4">Active Auctions</h1>
</div>

<div class="row">
    @foreach (var auction in Model)
    {

        var span = auction.End.Subtract(DateTime.UtcNow);
        var timeString = $"{span.Days} days, {span.Hours} hours, {span.Minutes} minutes.";

        <div class="col-sm-6">
            <div class="card text-white bg-primary mb-3 mt-4">
                <div class="card-header"><h3>Auction #@auction.Number</h3></div>
                <div class="card-body shadow-lg rounded">
                    <p class="card-text"><strong>Description: </strong>@auction.Description</p>
                    <p class="card-text"><strong>Location: </strong>@auction.Country, @auction.City</p>
                    <p class="card-text"><strong>Listings: </strong>@auction.ListingsCount</p>
                    <p class="card-text"><strong>Time remaining: </strong>@timeString</p>
                    <a class="btn btn-light" asp-controller="Listings" asp-action="All" asp-route-id="@auction.Id">View Listings</a>
                    @if (User.Id() != null)
                    {
                        <a class="btn btn-light">Add Listing</a>
                    }
                </div>
            </div>
        </div>
    }
</div>