@model AllAuctionsViewModel

@{
    ViewBag.Title = "All Auctions";
}

<div class="text-center mt-4">
    <h1 class="display-4 font-weight-bold">Auctions</h1>
    <h1 class="display-6">Currently Available - @Model.Pagination.TotalItems</h1>
    <hr class="w-50 offset-3" />
</div>

@if (!Model.Auctions.Any())
{
    <h1 class="display-6 text-danger text-center">No current active auctions!</h1>
}
else
{
    <div class="row mt-3">
        @foreach (var auction in Model.Auctions)
        {

            var span = auction.End.Subtract(DateTime.UtcNow);
            var timeString = $"{span.Days} days, {span.Hours} hours, {span.Minutes} minutes.";

            <div class="col-sm-6 col-centered">
                <div class="card text-white bg-primary mb-3 mt-4">
                    <div class="card-header"><h3>Auction #@auction.Number</h3></div>
                    <div class="card-body shadow-lg rounded">
                        <p class="card-text"><strong>Description: </strong>@auction.Description</p>
                        <p class="card-text"><strong>Location: </strong>@auction.Country, @auction.City</p>
                        <p class="card-text"><strong>Listings: </strong>@auction.ListingsCount</p>
                        <p class="card-text"><strong>Time remaining: </strong>@timeString</p>
                        <a class="btn btn-light" asp-controller="Listings" asp-action="All" asp-route-Id="@auction.Id">View Listings</a>
                        @if (User.Id() != null)
                        {
                            <a class="btn btn-light" asp-controller="Listings" asp-action="Create" asp-route-Id="@auction.Id">Add Listing</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

        <partial name="_PaginationPartialView" model="@Model.Pagination" />
@*
    <partial name="_PaginationPartialView" model="@new {currentPage = Model.CurrentPage,
                                                        totalItems = Model.TotalAuctions,
                                                        itemsPerPage = ControllersConstants.AuctionsPerPage,
                                                        itemsCount = Model.Auctions.Count,
                                                        controllerName = nameof(Model.Auctions)}" />*@
}