@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h4 class="display-3 text-center mb-4">Auctioneer.com</h4>
<div id="carouselExampleIndicators" class="carousel slide col-centered" style="width: 1300px; height: 600px;" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner h-100 w-100 shadow-lg border-primary">
        <div class="carousel-item active">
            <img src="https://auctions.carnext.com/media/mtufw0uq/image-3-custom.jpg" class="d-block" width="1300" height="600" alt="...">
            <div class="container">
                @if (User.Id() == null)
                {
                    <div class="carousel-caption text-start">
                        <h1>Welcome!</h1>
                        <p>Sign up to view details of listings and bid in auctions!</p>
                        <p><a class="btn btn-lg btn-outline-light" asp-area="identity" asp-page="/Account/Register">Sign up</a></p>
                    </div>
                }
                else
                {
                    <div class="carousel-caption text-start">
                        <h1>All Auctions</h1>
                        <p>Browse through and bid on available auctions!</p>
                        <p><a class="btn btn-lg btn-outline-light" asp-controller="Auctions" asp-action="All">Browse</a></p>
                    </div>
                }
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://imagescdn.dealercarsearch.com/DealerImages/ImageLibrary/1920x800/19fc8285.jpg" class="d-block" width="1300" height="600" alt="...">
            <div class="container">
                @if (User.Id() == null)
                {
                    <div class="carousel-caption text-end">
                        <h1>Worldwide Auctions</h1>
                        <p>Browse through all our available auctions.</p>
                        <p><a class="btn btn-lg btn-outline-light" asp-controller="Auctions" asp-action="All">Browse</a></p>
                    </div>
                }
                else
                {
                    <div class="carousel-caption text-end">
                        <h1>My Listings</h1>
                        <p>Manage your listings.</p>
                        <p><a class="btn btn-lg btn-outline-light" asp-controller="Listings" asp-action="Mine">My Listings</a></p>
                    </div>
                }
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@if (Model.Preview.Any())
{
    <h4 class="display-5 text-center mt-4 mb-2 text-primary">Preview</h4>
    <hr class="w-50 offset-3" />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 align-items-stretch g-4 py-5 text-center">
            @foreach (var p in Model.Preview)
            {
                <div class="col-sm-3 @(Model.Preview.Count() < 3 ? "col-centered" : string.Empty)">
                    <div class="card h-100 shadow">
                        <img src="@p.ImageUrl" style="height: 100%!important;"></img>
                        <div class="card-body">
                            <h4 class="card-title text-center">@p.Make - @p.Model</h4>
                            <p class="card-text">Vehicle condition - @p.Condition and Year - @p.Year.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @if (User.Id() != null)
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
}
<h4 class="display-5 text-center mt-4 mb-4 text-primary">Lifelong Statistics</h4>
<hr class="w-50 offset-3" />
<div class="container">
    <div class="row text-center">
        <div class="col">
            <span class="display-6">Auctions: @Model.Statistics.TotalAuctions</span>
        </div>
        <div class="col">
            <span class="display-6">Listings: @Model.Statistics.TotalListings</span>
        </div>
        <div class="col">
            <span class="display-6 d-float">Users: @Model.Statistics.TotalUsers</span>
        </div>
    </div>
</div>
<hr class="w-50 offset-3" />
<h4 class="display-6 text-center mt-4 mb-4 text-primary">About the website</h4>
<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

