@model ICollection<AllAuctionsServiceModel>

@{
    ViewBag.Title = "Manage Auctions";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2 class="heading-margin text-center">Active Auctions</h2>
            <table class="table table-bordered table table-responsive mt-2">
                <thead>
                    <tr>
                        <th class="col">Nº</th>
                        <th class="col">Description</th>
                        <th class="col">Country</th>
                        <th class="col">City</th>
                        <th class="col">Listings</th>
                        <th class="col">Start</th>
                        <th class="col">End</th>
                        <th class="col">Status</th>
                        <th class="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var auction in Model)
                    {
                        <tr>
                            <td>@auction.Number</td>
                            <td>@auction.Description</td>
                            <td>@auction.Country</td>
                            <td>@auction.City</td>
                            <td>@auction.ListingsCount</td>
                            <td>@auction.Start</td>
                            <td>@auction.End</td>
                            <td>@(auction.End > DateTime.UtcNow ? "Active" : "Expired")</td>
                            <td>
                                <a class="btn btn-success btn-sm" asp-area="Admin" asp-controller="Auctions" asp-action="Edit" asp-route-id="@auction.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
