@model ListingFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="ConditionId"></label>
                <select asp-for="ConditionId" class="form-control">

                    @foreach (var condition in Model.Conditions)
                    {
                        <option value="@condition.Id">@condition.Name</option>
                    }
                </select>
                <span asp-validation-for="ConditionId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeId"></label>
                <select asp-for="VehicleTypeId" class="form-control" onchange="this.form.submit()">
                    @if (Model.VehicleTypes != null)
                    {
                        @foreach (var listingType in Model.VehicleTypes)
                        {
                            <option value="@listingType.Id">@listingType.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="VehicleTypeId" class="small text-danger"></span>
            </div>
            @if (Model.Makes != null)
            {
                <div class="form-group">
                    <label asp-for="MakeId"></label>
                    <select asp-for="MakeId" class="form-control" onchange="this.form.submit()">

                        @foreach (var make in Model.Makes)
                        {
                            <option value="@make.Id">@make.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MakeId" class="small text-danger"></span>
                </div>
            }
            @if (Model.Models != null)

            {
                <div class="form-group">
                    <label asp-for="ModelId"></label>
                    <select asp-for="ModelId" class="form-control" onchange="this.form.submit()">
                        @if (Model.Models != null)
                        {
                            @foreach (var listingModel in Model.Models)
                            {
                                <option value="@listingModel.Id">@listingModel.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ModelId" class="small text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Further listing details etc.."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Copy Image URL here..">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="@DateTime.UtcNow.Year etc..">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="Save" />
        </form>
    </div>
</div>
