@model ListingsFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h1 class="display-6 text-center">@ViewBag.Title:</h1>
        <form method="post" id="listingCreate">
            <div class="form-group">
                <label asp-for="ConditionId"></label>
                <select asp-for="ConditionId" class="form-control">
                    @foreach (var condition in Model.Conditions)
                    {
                        <option value="@condition.Id">@condition.Name</option>
                    }
                </select>
                <span asp-validation-for="ConditionId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId"></label>
                <select asp-for="TypeId" class="form-control">
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="TypeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeId"></label>
                <select asp-for="MakeId" class="form-control">
                    @foreach (var make in Model.Makes)
                    {
                        <option value="@make.Id">@make.Name</option>
                    }
                </select>
                <span asp-validation-for="MakeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId"></label>
                <select asp-for="ModelId" class="form-control">
                    @foreach (var vModel in Model.Models)
                    {
                        <option value="@vModel.Id">@vModel.Name</option>
                    }
                </select>
                <span asp-validation-for="ModelId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" value="" placeholder="Model Year..">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Further vehicle details.."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" value="" placeholder="Price..">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Listing Image..">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="container text-center">
                <button class="btn btn-primary mt-3" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
