@model AllListingsViewModel

@{
    ViewBag.Title = "All Listings";
    var listingsCount = Model.Listings.Count();
}

<partial name="_ListingAuctionPartial" model="@Model.Auction" />

@if (!Model.Listings.Any())
{
    <h1 class="display-6 text-danger text-center">No current approved listings for this auction!</h1>
}
else
{
    <div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
        @foreach (var listing in Model.Listings)
        {
            <div class="@(listingsCount < 3 ? "col-centered" : "col")">
                <div class="card h-100 border-primary shadow rounded">
                    <img src="@listing.ImageUrl" class="card-img-top" style="height: 100%!important;">
                    <div class="card-body">
                        <h4 class="card-title text-center">@listing.Make - @listing.Model</h4>
                        <hr class="w-50 col-centered" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h6 class="d-inline">Condition:</h6> @listing.Condition</li>
                            <li class="list-group-item"><h6 class="d-inline">Year:</h6> @listing.Year</li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <div class="container mt-2 mb-2">
                            <a class="btn btn-primary btn-md d-inline" asp-controller="Listings"
                            asp-action="Details"
                            asp-route-listingId="@listing.Id"
                            asp-route-auctionId="@Model.Pagination.Id">Further Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_PaginationPartial" model="@Model.Pagination" />
}
