@model AllListingsViewModel

@{
    ViewBag.Title = "All Listings";

    var span = Model.End.Subtract(DateTime.UtcNow);
    var timeString = $"{span.Days} days, {span.Hours} hours, {span.Minutes} minutes.";
}

<div class="text-center mt-4">
    <h1 class="display-4">Auction #@Model.Number</h1>
    <h1 class="display-6">Location: @Model.City</h1>
    <h1 class="display-6">Time Remaining: @timeString</h1>
    <hr class="w-50 offset-3" />
</div>

@if (!Model.Listings.Any())
{
    <h1 class="display-6 text-danger text-center">No current approved listings for this auction!</h1>
}
else
{
    <div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
        @foreach (var listing in Model.Listings)
        {
            <div class="col-centered">
                <div class="card h-100 border-primary shadow rounded">
                    <img src="@listing.ImageUrl" class="card-img-top" style="height: 100%!important;">
                    <div class="card-body">
                        <h4 class="card-title text-center">@listing.Make - @listing.Model</h4>
                        <hr class="w-50 col-centered" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h6 class="d-inline">Condition:</h6> @listing.Condition</li>
                            <li class="list-group-item"><h6 class="d-inline">Year:</h6> @listing.Year</li>
                            <li class="list-group-item"><h6 class="d-inline">Description:</h6> @listing.Description</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="container offset-3 mt-2 mb-2">
                            <a class="btn btn-primary btn-md d-inline" asp-controller="Listings" asp-action="Details" asp-route-id="@listing.Id">Further Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_PaginationPartialView" model="@new {currentPage = Model.CurrentPage,
                                                        totalItems = Model.TotalListings,
                                                        itemsPerPage = ControllersConstants.ListingsPerPage,
                                                        itemsCount = Model.Listings.Count,
                                                        controllerName = nameof(Model.Listings),
                                                        id = Model.Id}" />
}
