@model ListingViewModel

@{
    ViewData["Title"] = "Details Page";

    bool isOwnListing = User.Id() == Model.Listing.UserId;
}

<partial name="_ListingAuctionPartial" model="@Model.Auction" />

<div id="carouselExampleIndicators" class="carousel slide col-centered" data-bs-ride="carousel" style="width: 640px; height: 360px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner h-100 w-100 shadow">
        <div class="carousel-item active">
            <img src="@Model.Listing.ImageUrl" class="d-block" width="640" height="360" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row align-items-md-stretch mt-4">
    <div class="col-md-6">
        <div class="card h-100 border-secondary shadow rounded">
            <div class="card-body">
                <h3 class="card-title text-center fst-italic">Listing Details:</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h6 class="d-inline">Type: </h6>@Model.Listing.Type</li>
                    <li class="list-group-item"><h6 class="d-inline">Condition: </h6>@Model.Listing.Condition</li>
                    <li class="list-group-item"><h6 class="d-inline">Make: </h6>@Model.Listing.Make</li>
                    <li class="list-group-item"><h6 class="d-inline">Model: </h6>@Model.Listing.Model</li>
                    <li class="list-group-item"><h6 class="d-inline">Year: </h6>@Model.Listing.Year</li>
                    <li class="list-group-item"><h6 class="d-inline">Description: </h6>@Model.Listing.Description</li>
                    @if (!isOwnListing)
                    {
                        @if (!Model.IsWatched)
                        {
                            <div class="container text-center mt-3">
                                <a class="btn btn-primary btn-md" asp-controller="Watchlists" asp-action="Watch" asp-route-id="@Model.Listing.Id">Watch</a>
                            </div>
                        }
                        else
                        {
                            <h6 class="text-danger text-center mt-3">Listing already in Watchlist!</h6>
                        }
                    }
                    else
                    {
                        <h6 class="text-danger text-center mt-3">Can not Bid on or Watch own Listings.</h6>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-secondary shadow rounded">
            <div class="card-body">
                <h3 class="card-title text-center fst-italic">Bid Details:</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h6 class="d-inline">Starting Price: </h6><span id="starting">@Model.Listing.Price.ToString("f2")</span></li>
                    <li class="list-group-item"><h6 class="d-inline">Current Bid: </h6><span id="current">@(Model.Bid == null ? 0 : Model.Bid.Amount.ToString("f2"))</span></li>
                    <li class="list-group-item"><h6 class="d-inline">Bidder: </h6><span id="bidName">@(Model.Bid == null ? "None" : Model.Bid.User)</span></li>
                </ul>
            </div>
            <div>
                <input type="hidden" id="listingId" name="listingId" value="@Model.Listing.Id">
                @if (!isOwnListing)
                {
                    <form id="form" method="post" class="row g-3" style="margin-left: 30px" asp-controller="Bids"
                      asp-action="Create"
                      asp-route-auctionId="@Model.Auction.Id"
                      asp-route-listingId="@Model.Listing.Id">
                        <div class="col-auto">
                            <input id="amount" name="amount" type="number" class="form-control" placeholder="Place your bid here.." step=".01">
                        </div>
                        <div class="col-auto bid">
                            <button type="submit" class="btn btn-primary mb-3">Bid</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/bidLive.js" asp-append-version="true"></script>
<script src="~/js/bidValidation.js" asp-append-version="true"></script>
<script src="~/js/auctionTimer.js" asp-append-version="true"></script>
}