@model SearchListingsViewModel

@{
    ViewBag.Title = "Find Vehicle";
    var listingsCount = Model.Listings.Count();
}

@if (!Model.Listings.Any())
{
    <h1 class="display-6 text-danger text-center">No results found!</h1>
}
else
{
    <h1 class="display-4 font-weight-bold text-center">Results:</h1>
    <div class="dropdown text-center mt-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Listings"
           asp-action="Find"
           asp-route-orderBy="Model"
           asp-route-searchTerm="@Model.SearchTerm">Model</a>
            <a class="dropdown-item" asp-controller="Listings"
           asp-action="Find"
           asp-route-orderBy="Model"
           asp-route-searchTerm="@Model.SearchTerm">Make</a>
            <a class="dropdown-item" asp-controller="Listings"
           asp-action="Find"
           asp-route-orderBy="Year"
           asp-route-searchTerm="@Model.SearchTerm">Year</a>
        </div>
    </div>
    if (User.Id() == null)
    {
        <div class="text-center mt-4">
            <a class="btn btn-outline-danger" asp-area="Identity"
       asp-page="/Account/Login">Login to view details!</a>
        </div>
    }
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 align-items-stretch g-4 py-5">
        @foreach (var listing in Model.Listings)
        {
            <div class="col-sm-4 mt-2 @(listingsCount < 3 ? "col-centered" : string.Empty)">
                <div class="card h-100 border-secondary shadow rounded">
                    <img src="@listing.ImageUrl" class="card-img-top" style="height: 100%!important;">
                    <div class="card-body">
                        <h4 class="card-title text-center fst-italic">@listing.Make - @listing.Model</h4>
                        <hr class="w-50 col-centered" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h6 class="d-inline">Auction #:</h6> @listing.AuctionNumber</li>
                            <li class="list-group-item"><h6 class="d-inline">Condition:</h6> @listing.Condition</li>
                            <li class="list-group-item"><h6 class="d-inline">Year:</h6> @listing.Year</li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            @if (User.Id() != null)
                            {
                                <div class="btn-group col-centered">
                                    <a type="button" class="btn btn-outline-primary" asp-controller="Listings"
                                asp-action="Details"
                                asp-route-listingId="@listing.Id"
                                asp-route-auctionId="@listing.AuctionId">
                                        Details
                                    </a>
                                    <a type="button" class="btn btn-outline-primary" asp-controller="Listings"
                                asp-action="All"
                                asp-route-Id="@listing.AuctionId">
                                        Auction
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}