@model IEnumerable<MyListingsServiceModel>

@{
    ViewBag.Title = "My Listings";
}

@if (TempData.ContainsKey(ControllersConstants.SuccessMessageKey))
{
    <div class="col-sm-4 col-centered mt-4">
        <div class="alert alert-success" role="alert">
            @TempData[ControllersConstants.SuccessMessageKey]
        </div>
    </div>
}

<div class="text-center mt-4">
    <h1 class="display-4 font-weight-bold">My Listings</h1>
    <hr class="w-50 offset-3" />
</div>

@if (!Model.Any())
{
    <h1 class="display-6 text-danger text-center">You have no listings at the moment.</h1>
}
else
{
    <p class="text-danger fst-italic text-center">*Note: Listings will automatically disappear when auction expires!</p>
    <div id="myListings" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 align-items-stretch g-4 py-2">
        @foreach (var l in Model)
        {
            var span = l.End.Subtract(DateTime.Now);
            var timeString = $"{span.Days} d, {span.Hours} h, {span.Minutes} m.";

            <div class="col-sm-4 @(Model.Count() < 3 ? "col-centered" : string.Empty)" data-end="@l.End" data-id="@l.Id">
                <div class="card h-100 border-secondary shadow rounded">
                    <img src="@l.ImageUrl" class="card-img-top" style="height: 100%!important;">
                    <div class="card-body">
                        <h4 class="card-title text-center fst-italic">@l.Make - @l.Model - @l.Condition</h4>
                        <hr class="w-50 col-centered" />
                        <h6 class="d-inline">Starting Price: </h6><span>@l.Price.ToString("f2")</span><br>
                        <h6 class="d-inline">Highest Bid: </h6><span>@(l.HighestBid == 0 ? "No bids yet." : l.HighestBid.ToString("f2"))</span><br>
                        <h6 class="d-inline">Status: </h6><span class="@(l.IsApproved ? "text-success" : "text-danger")">@(l.IsApproved ? "Approved" : "Awaiting approval.")</span><br>
                        <h6 class="d-inline">Time Remaining: </h6><span>@timeString</span>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts{
<script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/bidLiveMine.js" asp-append-version="true"></script>
<script type="module" src="~/js/auctionTimerMine.js" asp-append-version="true"></script>
}
